@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑";
    background-color:#ddd;
}
.box{
    width:right;
    height:600px;
    margin:30px auto;
    padding:20px;
}
.box .head span{
    font-size:18px;
    color:#333;
}
.box .head{
    margin-bottom:20px;
}
.box .head a{
    text-decoration:none;
    float:right;
    font-size:15px;
    color:#333;
}
.box .head a:hover{
color:#F00;
}
@media(max-width: 550px)
{
    .box ul li {
        width:100%;
    }
}
@media(min-width: 550px)
{
    .box ul li {
        width:49%;
    }
}


@media(min-width: 1020px)
{
    .box ul li {
        width:32%;
    }
}

@media(min-width: 1500px)
{
    .box ul li {
        width:24%;
    }
}
@media(min-width: 1920px)
{
    .box ul li {
        width:24%;
    }
}
@media(min-width: 1921px)
{
    .box ul li {
        width:435px;
    }
}



.box ul li{

    height:235px;
    list-style:none;
    position:relative;
    float:left;
    margin-left:1%;
    margin-bottom:1%;
    overflow:hidden;

}
.box ul li .deatil{
    width:100%;
    height:215px;
    text-align:center;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:-215px;
    -webkit-transition:all 0.3s ease;<!--适应ie，谷歌，苹果浏览器内核-->
-o-transition:all 0.3s ease;<!--适应Opera浏览器内核-->
-moz-transition:all 0.3s ease;<!--火狐浏览器-->
-ms-transition:all 0.3s ease;<!--微软-->
}
.box ul li .deatil div span{
    border:solid 1px #009ad6;
    border-radius: 8px;
    background-color:#1B2838;
    padding:3px 5px 3px 5px;
    opacity:0.8;
    color: #67c1f5;
    margin-left:3px;
}

.box ul li .deatil h2{
    font-size:1.2em;
    color:#fff;
    text-align:center;
    padding-top:3%;
}
.box ul li .deatil h6{
    color:#a1a3a6;
    text-align:center;
}
.box ul li .deatil .bq{
    font-size:1em;
    text-align:center;
    margin:8% 5px;
    color:#fff;
}
.box ul li .deatil p{
    font-size:16px;
    text-align:center;
    margin:30px;
    color:#fff;
}

.box ul li .deatil .aaa{
    font-size:15px;

    color:#fff;
    background-color:#f47920;
    border:solid 1px #009ad6;
    text-decoration:none;
    width:100px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius: 8px;
    margin: 0 auto;
    padding:8px 13px;
    margin-top:1px  !important;

}
.box ul li .deatil .ca{
    text-align:right;
}
.box ul li .deatil .ca a{
    margin-left: 5px;
}

.box ul li .deatil .aaa:hover{

    background-color:#905a3d;

}

.box ul li:hover .deatil{
    top:0;
}

h4{
    text-align: center;
}
.gamename:link{text-decoration: none;}
.gamename:visited{text-decoration: none;}
.gamename:active{text-decoration: none;}
